/* Reset  */
* { 
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Mono";
    overflow:hidden;
}


/* Sticky footer */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
#page {
    height: 100%;
    height: auto !important;
    min-height: 100%;
}
#sticky-footer-wrap {
    overflow: auto;
    padding-bottom: 20px;
}
.site-main {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: white;
}
.site-footer {
    position: relative;
    height: 22px;
    margin-top: -22px;
    clear: both;

}

footer h1 { 
  position: absolute;

  margin-top: 3px;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 15px;
  line-height: 20px; }


  footer h1 a {
    color: black; }


/* Header  */
.site-header {
    height: 160px;
}
.name {
    padding-top: 5px;
}
.name h1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 120px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom:  1px solid black;
    font-size: 20px; }

.nav-button {
  font-weight: normal;
  text-align: center;
  width: 90%;
  max-width: 500px;
  background: #222222;
  color: #fff;
  font-size: 18px;
  height: 30px;
  line-height: 28px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px; 
  cursor: pointer;}

.nav-button:hover {
  text-decoration: underline;}

/* 3 columns */
#primary {
    float: left;
    width: 30%;
    margin-top: 1px;
    margin-left: 2.5%;
    background-image: url(../img/post1.jpg);
    background-size: cover;
    outline: 1px solid black;
}
#secondary {
    float: left;
    width: 30%;
    margin-top: 1px;
    margin-left: 2.5%;
    background-image: url(../img/post2.jpg);
    background-size: cover;
    outline: 1px solid black;
}
#tertiary{
    float: left;
    width: 30%;
    margin-top: 1px;
    margin-left: 2.5%;
    background-image: url(../img/post3.jpg);
    background-size: cover;
    outline: 1px solid black;
}

#primary:hover,#secondary:hover,#tertiary:hover {
    opacity: .9;
    cursor: pointer;
}
.pom {
    z-index: -2;
}

.travel-blog {
    margin: auto;
    margin-top: 30px;
    background-color:white; 
    color:#000000;
    width:700px; 
}

thead {
    font-weight: 30px;
    font-weight: bold;
    text-align: center;
}
td {
    padding-bottom: 30px;
}
th {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.plink {

    padding-left: 10%;
}

.position {
    z-index: -1;
}
/* Colours */
/*.site-header {
    background: #C5E0DC;
}
#primary {
    background-color: #F1D4AF;
}
#secondary {
    background-color: #ECE5CE;
}
#tertiary{
    background-color: #E08E79;
}
.site-footer {
    background: #774F38;
}*/
