* {
	margin: 0;
	height: 100%;
	font-family: sans-serif;
}

li,p {
	font-family: "Open Sans" sans-serif; 
}

h1,h2,h3,h4 {
	font-family: "Roboto" sans-serif;
	font-weight: 100;
}
h1 {
	font-size: 1em
}

h2 {

}

h3 {
	font-size: .7em;
	font-weight: 400;
}
h4 {
	font-size: .6em;
}
							/*NAV BAR*/
.nav {
	position: fixed;
	height: 5%;
	width: 200px;
	padding-top: 28px;
	left: 49%;
	margin-left: -100px;
	
}

.nav-button {
	position: relative;
	width: 33.33%;

	transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}

/*#work,#travel,#projects {
	border:1px solid black;
}
*/
#work h1 {
	margin-left: -10px;
	cursor: pointer;
}

#travel h1 {
	margin-left: -12px;
	cursor: pointer;
}

#projects h1 {
	margin-left: -18px;
	cursor: pointer;
}


#work:hover,#travel:hover,#projects:hover {
	opacity: .4;
}


							/*CONTENT*/			
.containment {
	position: fixed;
	height: 50%;
	width: 100%;
	margin-top: 84px;
	



/*	background-color: red;
	opacity: .3;*/
}

.content {
	position: fixed;
	width: 86%;
	height: 50%;
	margin-left: 6.6%; 


	
}


							/*WORK PAGE*/

.post {
	position: relative;
	float: left;
	width: 20%;
	margin-left: 9.8%;
}


.p1 {
	background-image: url(../img/post1.jpg);
}

.p2 {
	background-image: url(../img/post2.jpg);
}

.p3 {
	background-image: url(../img/post3.jpg);
}


.p1,.p2,.p3 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: .7;
	cursor: pointer;

	transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}

.p1:hover {
	opacity: 1;
	cursor: pointer;
}


							/*ABOUT*/
.information {
	position: fixed;
	width: 100%;
	height: 20%;
	left: 0px;
	bottom: 3%;
	/*background-color: black;
	opacity: .5;*/
}
	.info{
		width: 33.33%;
		height: 100%;
		float: left;
		/*
		background-color: blue;
		opacity: .8;
		*/
	}













/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  /* some CSS here */
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */
}