* {
  margin: 0 auto;
  font-family: "Open Sans" sans-serif; }

a {
  font-family: "Open Sans" sans-serif;
  text-decoration: none;
  position: relative;
  text-align: left;
  font-weight: 300;
  font-size: 2em;
  color: black; }

a:after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0px;
  border-width: 0 0 1px;
  border-style: solid; }

a:visited {
  color: black;
  opacity: .1; }

h1 {
  font-family: "Open Sans" sans-serif;
  font-weight: 300;
  letter-spacing: .1em; }

dl {
  margin-left: 0 auto; }

.welcome-message {
  position: fixed;
  width: 40vw;
  height: 100vh;
  padding-top: 40vh;
  text-align: right;
  float: left; }

.project-links {
  width: 60vw;
  height: 100vh;
  float: right;
  line-height: 10em; }

.contain {
  display: block;
  height: 100%;
  width: 0 auto;
  max-width: 40vw; }
