* {
  margin: 0;
  padding: 0;
  width: inherit;
  transition: .3s;
  height: inherit; }

body, html {
  width: 100%;
  height: 100%; }

section {
  width: 100%;
  height: auto;
  height: 100%; }

.page-wrapper .front {
  width: 60%;
  margin-left: 20%; }
  @media screen and (max-width: 1600px) {
    .page-wrapper .front {
      width: 70%;
      margin-left: 15%; } }
  @media screen and (max-width: 1096px) {
    .page-wrapper .front {
      width: 80%;
      margin-left: 10%; } }
  @media screen and (max-width: 500px) {
    .page-wrapper .front {
      width: 100%;
      margin-left: 0%; } }
  .page-wrapper .front .text {
    width: 100%;
    height: 400px;
    position: relative; }
    @media screen and (max-width: 1096px) {
      .page-wrapper .front .text {
        height: 360px; } }
    @media screen and (max-width: 870px) {
      .page-wrapper .front .text {
        height: 300px; } }
    @media screen and (max-width: 500px) {
      .page-wrapper .front .text {
        height: auto; } }
    .page-wrapper .front .text:before {
      position: absolute;
      content: '';
      background: black;
      width: 100%;
      height: .3rem;
      top: -1rem;
      border-radius: 5px; }
      @media screen and (max-width: 500px) {
        .page-wrapper .front .text:before {
          display: none; } }
    .page-wrapper .front .text:after {
      position: absolute;
      content: '';
      background: black;
      width: 100%;
      height: .3rem;
      top: 26rem;
      border-radius: 5px; }
      @media screen and (max-width: 1096px) {
        .page-wrapper .front .text:after {
          top: 24rem; } }
      @media screen and (max-width: 870px) {
        .page-wrapper .front .text:after {
          top: 19.6rem; } }
      @media screen and (max-width: 500px) {
        .page-wrapper .front .text:after {
          display: none; } }
    .page-wrapper .front .text p {
      font-family: "Paytone One", helvetica, sans-serif;
      font-size: 3.6rem;
      line-height: 5rem;
      width: 772px;
      /* background:blue; */
      margin: 0 auto; }
      @media screen and (max-width: 1096px) {
        .page-wrapper .front .text p {
          font-size: 3rem;
          line-height: 4.5rem;
          width: 610px;
          /* background:green; */ } }
      @media screen and (max-width: 870px) {
        .page-wrapper .front .text p {
          font-size: 2rem;
          line-height: 3.8rem;
          width: 407px;
          /* background:green; */ } }
      @media screen and (max-width: 500px) {
        .page-wrapper .front .text p {
          font-size: 2rem;
          line-height: 3.8rem;
          width: 90%;
          margin-left: 5%; } }
.page-wrapper .content {
  width: 80%;
  height: auto;
  margin-left: 10%; }
  .page-wrapper .content .nav {
    width: 100%;
    height: auto;
    display: inline-block; }
    .page-wrapper .content .nav ul {
      width: 45%;
      height: auto;
      margin-left: 27.5%;
      list-style-type: none; }
      .page-wrapper .content .nav ul li {
        width: 33.33%;
        height: auto;
        float: left;
        text-align: center;
        font-family: "Raleway", helvetica, sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        cursor: pointer; }
  .page-wrapper .content .gallery {
    width: 75%;
    height: auto;
    margin-left: 12.5%; }
    .page-wrapper .content .gallery .projects {
      width: 100%; }
      .page-wrapper .content .gallery .projects .project {
        width: 100%;
        height: 30rem;
        margin-top: 4rem;
        margin-bottom: 5rem;
        cursor: pointer;
        text-align: center; }
        .page-wrapper .content .gallery .projects .project h1 {
          width: auto;
          font-family: "Raleway", helvetica, sans-serif;
          font-weight: 800;
          font-size: 2rem; }
        .page-wrapper .content .gallery .projects .project p {
          width: auto;
          height: auto;
          font-family: "Raleway", helvetica, sans-serif;
          font-weight: 300;
          font-size: 1rem;
          margin-bottom: 3rem; }
        .page-wrapper .content .gallery .projects .project a {
          width: auto;
          height: auto;
          margin-top: 3rem;
          color: inherit;
          font-family: "Raleway", helvetica, sans-serif;
          font-weight: 500;
          font-size: 1rem; }
      .page-wrapper .content .gallery .projects .proj-citri {
        color: black; }
      .page-wrapper .content .gallery .projects .proj-cali {
        color: white; }
    .page-wrapper .content .gallery .experiments {
      width: 100%;
      height: auto; }
      .page-wrapper .content .gallery .experiments .experiment {
        width: 100%;
        height: 30rem;
        margin-top: 4rem;
        margin-bottom: 5rem;
        cursor: pointer; }
        .page-wrapper .content .gallery .experiments .experiment iframe {
          outline: none;
          border: 0rem solid black;
          overflow: hidden; }
          .page-wrapper .content .gallery .experiments .experiment iframe[seamless] {
            display: block; }
        .page-wrapper .content .gallery .experiments .experiment .cover {
          position: relative;
          top: -30.2rem;
          margin-right: auto;
          margin-left: auto;
          background: black;
          opacity: 1; }
          .page-wrapper .content .gallery .experiments .experiment .cover .text-wrapper {
            height: auto;
            color: white;
            text-align: center;
            width: 40rem;
            margin: 0 auto;
            padding-top: 13rem; }
            .page-wrapper .content .gallery .experiments .experiment .cover .text-wrapper p {
              font-family: "Raleway", helvetica, sans-serif; }
            .page-wrapper .content .gallery .experiments .experiment .cover .text-wrapper h1 {
              font-family: "Paytone One", helvetica, sans-serif; }
    .page-wrapper .content .gallery .about {
      width: 80%;
      margin-left: 10%;
      height: auto; }
      .page-wrapper .content .gallery .about .text {
        width: auto;
        height: auto;
        margin: 5rem 0rem;
        margin-top: 4rem; }
        .page-wrapper .content .gallery .about .text p {
          font-family: "Raleway", helvetica, sans-serif;
          font-weight: 200;
          font-size: 1.1rem; }
          .page-wrapper .content .gallery .about .text p .large {
            float: left;
            line-height: .18rem;
            padding: 1rem .6rem 1.5rem 0rem;
            font-family: "Paytone One", helvetica, sans-serif;
            font-weight: bold;
            font-size: 3rem; }
          .page-wrapper .content .gallery .about .text p .dynamic {
            /* background: green; */
            font-weight: bold; }
.page-wrapper .footer {
  margin: 2rem 0rem 1rem 0rem;
  height: 1rem;
  width: 80%;
  margin-left: 10%; }
  .page-wrapper .footer .line {
    width: 100%;
    height: 3px;
    background: black;
    text-align: center; }
    .page-wrapper .footer .line a {
      position: relative;
      width: auto;
      height: 1rem;
      top: -.5rem;
      background: white;
      padding: 0 1rem;
      font-family: "Raleway", helvetica, sans-serif;
      font-weight: 500;
      font-size: 1rem;
      color: black; }
