--list-background-color: white;
--list-text-color: blue;

.c-underline {
  /*font-size: 50px;*/
  /*  shadows render better in certain browsers than text, first rule is for older browser support  */
  color: #333;
  color: transparent;
  text-shadow: 0 0 red, .08em 0 0 white, 0 0, -.08em 0 0 white;
  /*  gradient background allows us to use css only & re-position it  */
  background: -webkit-linear-gradient(red, red) center 1.09em no-repeat;
  background: linear-gradient(red, red) center 1.09em no-repeat;
  /*  can precisely control size in relation to the text  */
  background-size: 100% 1px;
  /*  now the underline supports transitions  */
  -webkit-transition: .2s ease;
  transition: .2s ease;
}


header {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  color: white;
}

header p { padding: 0rem 3rem; padding-bottom: .5rem;  }
header div { max-width: 40rem; padding-top: 1rem;}