.project {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    font-family: 'Open Sans';
    font-weight: bolder;
    &:hover { transform: scale(1.01, 1.01) }
  }
  img { width: 25%; }
}

.lilist  {
  div { background: linear-gradient(to bottom right, rgba(122, 218, 255, 0.39), rgba(0, 0, 92, 0.13)); }
}
.rb { div { background: red; }}
