$ring-size: 200px;
$ball-color: blue;
$ring-color: tomato;

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}
.ring {
	position: absolute;
	width: $ring-size;
	height: $ring-size;
	border-radius: 50%;
	background: $ring-color;
	z-index: 1;

}
.ball {
	position: relative;
	width: $ring-size/2;
	height: $ring-size/2;
	border-radius: 50%;
	background: $ball-color;
	margin: 50% 0 0 50%;
	left: 0;
	top: 0;

}
.two {
	left: $ring-size;
}
