
@import 'bourbon' , 'neat';

html, body {
	margin: 0;
	padding: 0;
}


li {
	float: left;
	background: green;
	width: 14.285%;
	height: 100vh;

	transition: .1s ease;
}

li:nth-child(2n){background: tomato;}
.open {	width: 70%;}

.closed { width: 5%;}