.changing-workplace {
	background: url(../img/work/changing-workplace/changing-workplace.jpg) no-repeat center center; /*Add fixed to the end to stop image scrolling as well*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.woolen-workshop {
	background: url(../img/work/woolen-workshop/woolen-workshop.jpg) no-repeat center center; /*Add fixed to the end to stop image scrolling as well*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.woollen-workshop-shot-1 {
	background: url(../img/work/woolen-workshop/woolen-workshop.jpg) no-repeat center center; /*Add fixed to the end to stop image scrolling as well*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.woollen-workshop-shot-2 {
	background: url(../img/work/woolen-workshop/woolen-workshop.jpg) no-repeat center center; /*Add fixed to the end to stop image scrolling as well*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}