//Pallete
$yellow: #FAD46A;
$red: #D95C53;
$blue: #25B2D9;

//text
$grey-dark: #595959;
$grey-light: #909090;
$white: #F5F5F5;

//header
$banner-height: 22rem;

.color-red {
	color: $red;
}

.color-yellow {
	color: $yellow;
}

.color-blue {
	color: $blue;
}