* {
	margin: 0; padding: 0;
	font-family: "Open Sans";
}
body {
	overflow-x: hidden;
	background: #c9dbe9;
}

.wave {
	width: 100%; height: 0;
	position: fixed;
	bottom: 0;
	z-index: 2;
	}

.module{
	position: relative;
	float: left;
	width: 10vw;	height: 10em;
	background-color: #3C6C87;

	-webkit-animation: moduleMove 1.5s ease-in-out infinite; /* Safari 4+ */
  	-moz-animation:    moduleMove 1.5s ease-in-out infinite; /* Fx 5+ */
  	-o-animation:      moduleMove 1.5s ease-in-out infinite; /* Opera 12+ */
  	animation:         moduleMove 1.5s ease-in-out infinite; /* IE 10+, Fx 29+ */
}
.module:nth-child(1)  { -webkit-animation-delay: 00ms; animation-delay: 00ms }
.module:nth-child(2)  { -webkit-animation-delay: 150ms; animation-delay: 150ms }
.module:nth-child(3)  { -webkit-animation-delay: 300ms; animation-delay: 300ms }
.module:nth-child(4)  { -webkit-animation-delay: 450ms; animation-delay: 450ms }
.module:nth-child(5)  { -webkit-animation-delay: 600ms; animation-delay: 600ms }
.module:nth-child(6)  { -webkit-animation-delay: 750ms; animation-delay: 750ms }
.module:nth-child(7)  { -webkit-animation-delay: 900ms; animation-delay: 900ms }
.module:nth-child(8)  { -webkit-animation-delay: 1050ms; animation-delay: 1050ms }
.module:nth-child(9)  { -webkit-animation-delay: 1200ms; animation-delay: 1200ms }
.module:nth-child(10) { -webkit-animation-delay: 1350ms; animation-delay: 1350ms }

@-webkit-keyframes moduleMove {
  0%   { height: 10em; bottom: 3em; /*-webkit-transform: rotate(-3deg);*/}
  50%  { height: 10em; bottom: 10em; /*-webkit-transform: rotate(3deg);*/}		 
  100% { height: 10em; bottom: 3em; /*-webkit-transform: rotate(-3deg);*/}
}
@-moz-keyframes moduleMove {
  0%   { height: 10em; bottom: 3em; /*-webkit-transform: rotate(-3deg);*/}
  50%  { height: 10em; bottom: 10em; /*-webkit-transform: rotate(3deg);*/}		 
  100% { height: 10em; bottom: 3em; /*-webkit-transform: rotate(-3deg);*/}
}
@-o-keyframes moduleMove {
  0%   { height: 10em; bottom: 3em; /*-webkit-transform: rotate(-3deg);*/}
  50%  { height: 10em; bottom: 10em; /*-webkit-transform: rotate(3deg);*/}		 
  100% { height: 10em; bottom: 3em; /*-webkit-transform: rotate(-3deg);*/}
}


#clouds{
	padding-top: 12%;
	height: 50vh;
}

.cloud {
	width: 250px; height: 35px;
	background: #fff;
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	background: #fff;
	position: absolute; 
	width: 185px; height: 40px;
	top: -40px; right: 20px;
}

.cloud:after {
	width: 110px; height: 40px;
	top: -80px; left: auto; right: 40px;
}

.cloud:nth-child(1)  { 
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite; }
.cloud:nth-child(2)  { 
	left: 200px;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6;

	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite; }
.cloud:nth-child(3)  {
	left: -250px; top: -200px;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8;
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}
.cloud:nth-child(4)  { 
	left: 470px; top: -250px;

	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; 
	
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}
.cloud:nth-child(5)  {
	left: -150px; top: -150px;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8;

	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite; 
}


@-webkit-keyframes moveclouds {
	0% {margin-left: 100%;}
	100% {margin-left: -100%;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 100%;}
	100% {margin-left: -100%;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 100%;}
	100% {margin-left: -100%;}
}
.boat-move {
	position: absolute;
	-webkit-animation: moveboatup 1.4s ease-in-out infinite;

}

.boats{
	position: absolute;	
	bottom: 0em;
	height: 0;
	width:0;
	left: 70%;
	opacity: 0;

	-webkit-animation: moveboat 15s ease-in-out infinite;
	-moz-animation: moveboat 1.5s ease-in-out infinite;
	-o-animation: moveboat 1.5s ease-in-out infinite;
	-webkit-animation-delay: 1.35s;
}
.boat {
	width: 16em; height: 3em;
	position: relative; 
	background-color: #CE494F;

}
.boat:before, .boat:after {
	content: '';
	position: absolute; 
	width: 12em; 
	height: 3em;
	bottom: 1.6em;
	left: 1px;
	-webkit-transform: rotate(4deg);
	z-index: -1;
	background-color: #3E3E3E;

}
.boat:after {
	width: 5em; 
	height: 3em;
	bottom: 4em; 
	left: 5.5em;
	background-color: #E8E8E8;
	z-index: -2;
	-webkit-transform: rotate(-1deg);

}

@-webkit-keyframes moveboatup {
	0%   {bottom: 5em; /*-webkit-transform: rotate(-3deg);*/}
  	50%  {bottom: 10em; /*-webkit-transform: rotate(3deg);*/}		 
  	100% {bottom: 5em; /*-webkit-transform: rotate(-3deg);*/}
}
	@-moz-keyframes moveboatup {
		0%   {bottom: 5em; /*-webkit-transform: rotate(-3deg);*/}
	  	50%  {bottom: 10em; /*-webkit-transform: rotate(3deg);*/}		 
	  	100% {bottom: 5em; /*-webkit-transform: rotate(-3deg);*/}
	}
		@-0-keyframes moveboatup {
			0%   {bottom: 5em; /*-webkit-transform: rotate(-3deg);*/}
		  	50%  {bottom: 10em; /*-webkit-transform: rotate(3deg);*/}		 
		  	100% {bottom: 5em; /*-webkit-transform: rotate(-3deg);*/}
		}

@-webkit-keyframes moveboat {
	0%   {left: 100%; opacity: 1; /*-webkit-transform: rotate(-3deg);*/}
  	100%  {left: -16em; opacity: 1; /*-webkit-transform: rotate(3deg);*/}		 
}
@-moz-keyframes moveboat {
}
@-0-keyframes moveboat {
}