/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700italic,400italic,900,900italic);

body {
  font-family: 'Poppins', sans-serif;
  color: rgba(17, 17, 17, 0.71);
}
.contact {
  font-family: 'Inconsolata' ;
  font-size: 1.8rem;
}

.name h1 {
  font-size: 8rem;
  font-weight: bold;
  line-height: 0.60;
}

section .project-quote {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: right;
}

section .project-quote::after {
  content: "Raph Vraets";
  position: absolute;
  bottom: 0;
  right: 9rem;
  font-size: 3.5rem;
}

/* COLORS */
.bg-primary-dark {
  background-color: #253239;
  background-color: #EDEEEB;
}

.primary-light {
  background-color: #EDEEEB;
}

/* Defaults*/
html, body {
  height: 100%;
  width: 100%;
}
ul {
  list-style-type: none;
}

/* STYLING */
.left-panel {
  z-index: -99;
  padding: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  margin: none;
  box-sizing: border-box;
}

.content-pane {
  width: 60%;
  margin-left: 40%;
  padding-right: 4rem;
  box-sizing: border-box;
  overflow-x: auto;
}

.menu ul li {
  text-align: right;
  cursor: pointer;
}

.name {
  color: rgba(0, 0, 255, 0.54);
  position: fixed;
  padding-left: 4rem;
  bottom: 0;
  left: 0;
  margin-bottom: 2rem;
}

.content-pane section:last-child {
  margin-bottom: 10rem;
}

section {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

section .title {
  font-size: 3rem;
  -webkit-text-stroke: 1px blue;
  color: #EDEEEB;
  font-weight: bold;
}

section .intro-title {
  font-size: 4rem;
  -webkit-text-stroke: 1px blue;
  color: #EDEEEB;
  font-weight: bold;
}

section .imagewrap {
  /*padding: 1rem;*/
  /*border: solid black 8px;*/
}

section .imagewrap img {
  width: 100%;
  display: block;
}

section .project-quote {
  padding: 8rem 6rem;
  color: rgba(17, 17, 17, 0.36);
}


/*JQUERY CLASS ADDON*/
.nav-scroll {
  color: blue;
}

* {
  transition: 0.6s;
}

.mobilecontact{
  display: none;
}

/*RESPONSIVE*/
.mobile-contact {
  display: none;
}

@media screen and (max-width: 960px) {
  .mobilecontact {
    display: block;
  }

  section .project-quote {
    font-size: 2rem;
    padding: 6rem 2rem;
  }

  section .project-quote::after {
    right: 4rem;
    font-size: 2.5rem;
    bottom: 4rem;
  }

  .content-pane {
      width: 100%;
      padding-left: 4rem;
      margin-left: 0;
  }

  .left-panel {
    display: none;
  }
}

@media screen and (max-width: 480px) {

  .content-pane {
      width: 100%;
      margin-left: 0;
  }

  section .project-quote {
    font-size: 1.6rem;
    padding: 6rem 2rem;
  }

  section .project-quote::after {
    right: 4rem;
    font-size: 2rem;
    bottom: 4rem;
  }

  .left-panel {
    display: none;
  }
}
