.container {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.header { background: beige; }
.snow { background: white; }
.wood { background: brown; }
