/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0; }

li {
  float: left;
  background: green;
  width: 14.285%;
  height: 100vh;
  transition: .1s ease; }

li:nth-child(2n) {
  background: tomato; }

.open {
  width: 70%; }

.closed {
  width: 5%; }
